body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*mmmmmmmmmmmfans-bg navbar mmmmmmmmmmmmm */
nav {
  background-color: white;
  z-index: 9999;
  transition: all 3s;
  height: 7vh;
}

.fix {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  /* box-shadow: 5px 2px 2px 15px rgba(0, 0, 0, 0.1); */
}
.fix ul li a {
  color: white;
}

.pt {
  padding-top: 5%;
}

ul li a:hover {
  color: yellow !important;
  font-size: 14px;
  transition: all 2s;
}

h1 {
  letter-spacing: 1px;
}

.fans-bg {
  background-color: rgba(245, 237, 237, 0.918);
}
